Repository hubofwyn/WynIsBuff2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,mjs}": ["eslint --fix", "prettier --write"],
    "*.{json,md,html,css}": ["prettier --write"]
}

refactor(observability): complete Phase 3 - logging migration (278/293, 95%)
  STATUS_OBSERVABILITY.json
  src/constants/EventNames.js
  src/core/CloneManager.js
  src/core/DeterministicRNG.js
  src/core/EconomyManager.js
  src/core/EventBus.js
  src/observability/context/DebugContext.js
  src/observability/context/StateProvider.js
Due: eslint --fix, prettier --write

docs(observability): add comprehensive Phase 3 evaluation report
  OBSERVABILITY_EVALUATION.md
Due: prettier --write

feat(observability): integrate DebugContext into Game scene - Phase 3.5 complete
  DEBUGCONTEXT_INTEGRATION_PLAN.md
  STATUS_OBSERVABILITY.json
  src/scenes/Game.js
Due: eslint --fix, prettier --write

feat(observability): Phase 5 - Error Integration complete
  PHASE5_ERROR_INTEGRATION_PLAN.md
  STATUS_OBSERVABILITY.json
  src/core/PhysicsManager.js
  src/modules/player/PlayerController.js
  src/observability/index.js
  src/observability/utils/CrashDumpGenerator.js
  src/observability/utils/ErrorPatternDetector.js
  src/observability/utils/index.js
  src/scenes/Game.js
Due: eslint --fix, prettier --write

docs(observability): Phase 6 - Documentation Consolidation complete
  PHASE6_DOCUMENTATION_PLAN.md
  STATUS_OBSERVABILITY.json
  docs/INDEX.md
  docs/architecture/Observability.md
  docs/guides/DEBUGGING.md
  docs/systems/ERROR_HANDLING_LOGGING.md
Due: prettier --write

feat: complete Phase 7 - Agent Tools & API for observability system
  PHASE7_AGENT_TOOLS_PLAN.md
  STATUS_OBSERVABILITY.json
  docs/guides/DEBUGGING.md
  docs/systems/ERROR_HANDLING_LOGGING.md
  src/observability/api/DebugAPI.js
  src/observability/api/ErrorSuggestions.js
  src/observability/api/ExportFormatter.js
  src/observability/api/LogAnalyzer.js
  src/observability/api/QueryBuilder.js
  src/observability/api/index.js
  src/observability/index.js
  src/scenes/Game.js
Due: eslint --fix, prettier --write

feat: complete Phase 8 - Testing & Validation + Development Paradigm Integration
  .claude/CLAUDE.md
  .claude/settings.json
  CLAUDE.md
  PHASE8_TESTING_VALIDATION_PLAN.md
  STATUS_OBSERVABILITY.json
  tests/observability/api.test.cjs
Due: prettier --write

feat: complete Phase 9 - Production Deployment (FINAL)
  OBSERVABILITY_FINAL_SUMMARY.md
  PHASE9_PRODUCTION_DEPLOYMENT_PLAN.md
  README.md
  STATUS_OBSERVABILITY.json
Due: prettier --write

chore: add doc-analysis to gitignore and comprehensive AI asset generation documentation
  .gitignore
  AI_ASSET_GENERATION_FRAMEWORK_REPORT.md
  ASSET_GENERATION_MIGRATION_PLAN.md
  BRANCH_CLEANUP_RECOMMENDATIONS.md
Due: prettier --write

feat: add CI/CD workflows and code quality tooling
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  BRANCH_AUDIT_RESULTS.md
  eslint.config.mjs
  package.json
Due: eslint --fix, prettier --write

feat: Add ElevenLabs audio generation framework for Bug #4
  .gitignore
  AUDIO_DESIGN_SPECIFICATION.md
  ELEVENLABS_IMPLEMENTATION_GUIDE.md
  elevenlabs_info.md
  scripts/audio-generation/.env.example
  scripts/audio-generation/README.md
  scripts/audio-generation/assets.json
  scripts/audio-generation/budget_guard.py
  scripts/audio-generation/generate_assets.py
  scripts/audio-generation/post_process.py
  scripts/audio-generation/requirements.txt
Due: prettier --write

feat: Generate Phase 1 jump sounds with ElevenLabs (Bug #4 fix)
  assets/audio/sfx/player/sfx_player_jump1_01.ogg
  assets/audio/sfx/player/sfx_player_jump1_02.ogg
  assets/audio/sfx/player/sfx_player_jump1_03.ogg
  assets/audio/sfx/player/sfx_player_jump1_04.ogg
  assets/audio/sfx/player/sfx_player_jump2_01.ogg
  assets/audio/sfx/player/sfx_player_jump2_02.ogg
  assets/audio/sfx/player/sfx_player_jump2_03.ogg
  assets/audio/sfx/player/sfx_player_jump2_04.ogg
  assets/audio/sfx/player/sfx_player_jump3_01.ogg
  assets/audio/sfx/player/sfx_player_jump3_02.ogg
  assets/audio/sfx/player/sfx_player_jump3_03.ogg
  assets/audio/sfx/player/sfx_player_jump3_04.ogg
  scripts/audio-generation/assets.json
  scripts/audio-generation/generate_assets.py
  scripts/audio-generation/post_process.py
Due: prettier --write

feat: add observability logging to audio generation system
  BUG_INVESTIGATION_REPORT.md
  scripts/audio-generation/budget_guard.py
  scripts/audio-generation/generate_assets.py
  scripts/audio-generation/observability.py
  scripts/audio-generation/post_process.py
Due: prettier --write

feat: integrate 12 jump sounds into game asset system
  assets/manifest.json
Due: prettier --write

feat: complete Bug #4 fix - wire up jump sounds to gameplay
  src/core/AudioManager.js
  src/scenes/Game.js
Due: eslint --fix, prettier --write

fix: update Phaser and Rapier APIs for 3.90+ and 0.19+ compatibility
  JUMP_AUDIO_TEST_GUIDE.md
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump1_01_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump1_02_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump1_03_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump1_04_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump2_01_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump2_02_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump2_03_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump2_04_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump3_01_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump3_02_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump3_03_raw.mp3
  scripts/audio-generation/assets/audio/sfx/player/sfx_player_jump3_04_raw.mp3
  src/core/PhysicsManager.js
  src/modules/effects/ParticleManager.js
Due: eslint --fix, prettier --write

fix: architectural audio loading improvements with format detection and observability
  scripts/generate-assets.js
  src/constants/Assets.js
  src/core/AudioManager.js
Due: eslint --fix, prettier --write

fix: HTML5 Audio pool management with architecture documentation and observability
  src/core/AudioManager.js
Due: eslint --fix, prettier --write

fix: critical runtime errors - Phaser 3.90 and asset compatibility
  assets/images/characters/mainlogo.png
  assets/images/characters/mainlogo.svg
  src/modules/effects/ParticleManager.js
  src/modules/level/CollectibleManager.js
Due: eslint --fix, prettier --write

feat: implement professional multi-resolution logo optimization system
  assets/images/characters/mainlogo.webp
  assets/images/ui/logo/mainlogo-fallback.png
  assets/images/ui/logo/mainlogo-fallback.webp
  assets/images/ui/logo/mainlogo.svg
  assets/images/ui/logo/mainlogo@1x.png
  assets/images/ui/logo/mainlogo@1x.webp
  assets/images/ui/logo/mainlogo@2x.png
  assets/images/ui/logo/mainlogo@2x.webp
  assets/manifest.json
  docs/assets/LOGO_OPTIMIZATION.md
  src/scenes/Preloader.js
  src/utils/LogoLoader.js
Due: eslint --fix, prettier --write

fix: correct LogoLoader BASE_PATH for Phaser asset loading
  docs/assets/LOGO_OPTIMIZATION.md
  docs/bun-migration.md
  src/utils/LogoLoader.js
Due: eslint --fix, prettier --write

chore: migrate to Bun package manager and refactor test infrastructure
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  AGENTS.md
  CONTRIBUTING.md
  README.md
  bun.lock
  bunfig.toml
  docs/technology/TechnologiesAndPackages.md
  eslint.config.mjs
  log.js
  package-lock.json
  package.json
  scripts/generate-assets.js
  scripts/validate-assets.js
  src/constants/Assets.js
  tests/PerformanceAnalyzer.cjs
  tests/test-basemanager.test.cjs
  tests/test-core-systems.cjs
  tests/test-eventbus.test.cjs
  tests/test-gamestatemanager.test.cjs
  tests/test-subtitle-integration.test.cjs
Due: eslint --fix, prettier --write

chore(eslint): comprehensive cleanup and Bun migration follow-ups
  eslint.config.mjs
  src/constants/EventNames.js
  src/constants/LevelData.js
  src/constants/PhysicsConfig.js
  src/core/AgentOrchestrator.js
  src/core/CloneManager.js
  src/core/DeterministicRNG.js
  src/core/EconomyManager.js
  src/core/InputManager.js
  src/core/PhysicsManager.js
  src/core/UIManager.js
  src/main.js
  src/modules/analytics/PerformanceAnalyzer.js
  src/modules/effects/CameraManager.js
  src/modules/effects/ColorManager.js
  src/modules/effects/ParticleManager.js
  src/modules/enemy/BossController.js
  src/modules/enemy/EnemyController.js
  src/modules/enemy/PulsatingBoss.js
  src/modules/level/CollectibleManager.js
  src/modules/level/GroundFactory.js
  src/modules/level/LevelCompletionManager.js
  src/modules/level/LevelLoader.js
  src/modules/level/LevelManager.js
  src/modules/level/LevelTransitionController.js
  src/modules/level/MovingPlatformController.js
  src/modules/level/PlatformFactory.js
  src/modules/player/CollisionController.js
  src/modules/player/EnhancedJumpController.js
  src/modules/player/EnhancedMovementController.js
  src/modules/player/JumpController.js
  src/modules/player/MovementController.js
  src/modules/player/PlayerController.js
  src/modules/player/WallDashController.js
  src/scenes/CharacterSelect.js
  src/scenes/Game.js
Due: eslint --fix, prettier --write

fix(lint): resolve all ESLint warnings and errors
  src/modules/idle/TimeEchoRecorder.js
  src/modules/level/LevelCompletionManager.js
  src/modules/player/JumpController.js
  src/modules/player/PrecisionTimingController.js
  src/modules/player/WallDashController.js
  src/modules/player/WallJumpController.js
  src/modules/ui/FeedbackSystem.js
  src/observability/api/DebugAPI.js
  src/observability/api/ErrorSuggestions.js
  src/observability/api/ExportFormatter.js
  src/observability/core/LogSystem.js
  src/scenes/BirthdayMinigame.js
  src/scenes/Boot.js
  src/scenes/CharacterSelect.js
  src/scenes/FactoryScene.js
  src/scenes/Game.js
  src/scenes/GameOver.js
  src/scenes/HubScene.js
  src/scenes/MainMenu.js
  src/scenes/PauseScene.js
  src/scenes/Preloader.js
  src/scenes/ResultsScene.js
  src/scenes/RunScene.js
  src/scenes/SettingsScene.js
  src/scenes/SubtitleExample.js
  src/scenes/WelcomeScene.js
Due: eslint --fix, prettier --write

fix(format): apply Prettier formatting to all files
  AUDIO_DESIGN_SPECIFICATION.md
  BUG_INVESTIGATION_REPORT.md
  ELEVENLABS_IMPLEMENTATION_GUIDE.md
  JUMP_AUDIO_TEST_GUIDE.md
  docs/CI_CD_SETUP.md
  docs/bun-migration.md
  docs/systems/ERROR_HANDLING_LOGGING.md
  elevenlabs_info.md
  eslint.config.mjs
  package.json
  scripts/audio-generation/README.md
  scripts/audio-generation/assets.json
  scripts/generate-assets.js
  scripts/validate-assets.js
  src/core/AgentOrchestrator.js
  src/core/AudioManager.js
  src/scenes/FactoryScene.js
  src/utils/LogoLoader.js
Due: eslint --fix, prettier --write

ci: remove dependency-review workflow (requires GitHub Advanced Security)
  .github/workflows/dependency-review.yml
Due: none

docs: fold bug investigation findings into permanent documentation
  ASSET_MANAGEMENT.md
  BUG_INVESTIGATION_REPORT.md
  docs/systems/EffectsSystem.md
Due: prettier --write

docs: comprehensive architectural improvement planning
  docs/ARCHITECTURE.md
  docs/architecture/ArchitecturalImprovementPlan.md
  docs/architecture/README.md
Due: prettier --write

feat: implement architecture validation system with A-Spec
  architecture/a-spec.json
  architecture/a-spec.schema.json
  architecture/snapshot.json
  docs/architecture/ArchitecturalImprovementPlan-Enhanced.md
  scripts/validate-architecture-simple.js
  scripts/validate-architecture.js
Due: eslint --fix, prettier --write

feat: complete architectural view with AI asset generation
  architecture/a-spec.json
  architecture/a-spec.schema.json
  architecture/snapshot.json
  docs/architecture/CompleteArchitecturalView.md
Due: prettier --write

feat: spec-driven asset generation migration plan (2025)
  architecture/asset-spec.schema.json
  architecture/examples/asset-specs/images/backdrop-protein-sky.yaml
  architecture/examples/asset-specs/images/particle-white.yaml
  architecture/examples/asset-specs/templates/jump-sfx-template.yaml
  docs/architecture/AssetGenerationMigration2025.md
  docs/architecture/CompleteArchitecturalView.md
Due: prettier --write

fix: update asset migration plan for existing ElevenLabs system
  architecture/a-spec.json
  docs/architecture/AssetGenerationMigration2025.md
Due: prettier --write

feat: Phase 1 asset generation orchestrator with Python adapter
  scripts/asset-generation/adapters/python-audio-adapter.js
  scripts/asset-generation/bun.lock
  scripts/asset-generation/orchestrator/index.js
  scripts/asset-generation/package.json
  scripts/asset-generation/specs/audio/test-jump-sfx.yaml
  scripts/asset-generation/utils/spec-loader.js
Due: eslint --fix, prettier --write

feat: integrate observability system into asset orchestrator
  scripts/asset-generation/adapters/python-audio-adapter.js
  scripts/asset-generation/orchestrator/index.js
  scripts/asset-generation/utils/spec-loader.js
Due: eslint --fix, prettier --write

feat: implement manifest auto-updater for asset generation
  scripts/asset-generation/orchestrator/index.js
  scripts/asset-generation/utils/manifest-updater.js
Due: eslint --fix, prettier --write

feat: Phase 2 - OpenAI DALL-E 3 image generation integration
  scripts/asset-generation/adapters/openai-image-adapter.js
  scripts/asset-generation/orchestrator/index.js
  scripts/asset-generation/specs/image/test-particle-white.yaml
  scripts/asset-generation/specs/image/test-sky-backdrop.yaml
Due: eslint --fix, prettier --write

fix: update eslint ignore patterns for asset-generation modules
  .eslintignore
Due: none

style: apply prettier formatting to asset-generation modules
  ASSET_MANAGEMENT.md
  architecture/a-spec.json
  architecture/a-spec.schema.json
  architecture/asset-spec.schema.json
  architecture/snapshot.json
  docs/architecture/ArchitecturalImprovementPlan-Enhanced.md
  docs/architecture/ArchitecturalImprovementPlan.md
  docs/architecture/AssetGenerationMigration2025.md
  docs/architecture/CompleteArchitecturalView.md
  docs/architecture/README.md
  docs/systems/EffectsSystem.md
  scripts/asset-generation/adapters/openai-image-adapter.js
  scripts/asset-generation/adapters/python-audio-adapter.js
  scripts/asset-generation/orchestrator/index.js
  scripts/asset-generation/package.json
  scripts/asset-generation/utils/manifest-updater.js
  scripts/asset-generation/utils/spec-loader.js
  scripts/validate-architecture-simple.js
  scripts/validate-architecture.js
Due: eslint --fix, prettier --write

feat: Phase 1 - Architecture enforcement foundation
  .eslintignore
  STATUS-ARCHITECTURE.json
  architecture/rules/depcruise.config.cjs
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix, prettier --write
