Repository hubofwyn/WynIsBuff2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Phase 2 - CI/CD architecture validation integration
  .github/workflows/ci.yml
  STATUS-ARCHITECTURE.json
  architecture/snapshot.json
  package.json
Due: prettier --write

fix: resolve all critical architecture violations
  STATUS-ARCHITECTURE.json
  eslint.config.mjs
  src/constants/EventNames.js
  src/core/AudioManager.js
  src/core/CloneManager.js
  src/core/InputManager.js
  src/modules/enemy/BossController.js
  src/modules/idle/TimeEchoRecorder.js
  src/modules/player/JumpController.js
  src/modules/player/PlayerController.js
  src/modules/player/WallDashController.js
  src/modules/player/WallJumpController.js
  src/observability/context/DebugContext.js
  src/observability/core/LogSystem.js
  src/scenes/HubScene.js
  src/scenes/ResultsScene.js
Due: eslint --fix, prettier --write

docs: Comprehensive UI/UX documentation consolidation and indexing
  .windsurf/QUICK_REFERENCE.md
  .windsurf/README.md
  .windsurf/cascade.json
  .windsurf/rules-constants.md
  .windsurf/rules-core.md
  .windsurf/rules-modules.md
  .windsurf/rules-scenes.md
  .windsurf/workspace-rules.md
  .windsurfignore
  CLAUDE.md
  README.md
  WINDSURF_SETUP.md
  architecture/snapshot.json
  docs/INDEX.md
  docs/OBSERVABILITY_DOCS_GUIDE.md
  docs/UI_UX_DOCUMENTATION_AUDIT.md
  docs/architecture/UI_UX_ARCHITECTURE.md
  docs/game-settings.md
  docs/guides/GAME_DIAGNOSTICS.md
  docs/sessions/2025-11-02-audio-unlock-implementation.md
  docs/sessions/2025-11-02-gameplay-fixes.md
  docs/systems/AUDIO_UNLOCK_SYSTEM.md
  docs/systems/ERROR_HANDLING_LOGGING.md
  docs/systems/KNOWN_WEBGL_ISSUES.md
  docs/systems/LOADING_SCREEN_ARCHITECTURE.md
  docs/systems/UIManager.md
  src/constants/DesignTokens.js
  src/core/AudioUnlockManager.js
  src/core/AudioUnlockUI.js
  src/core/LoadingScreenManager.js
  src/features/core/index.js
  src/main.js
  src/modules/level/CollectibleManager.js
  src/scenes/Boot.js
  src/scenes/Game.js
  src/scenes/Preloader.js
Due: eslint --fix, prettier --write

docs: Level Select Screen implementation plan with architecture integration
  docs/INDEX.md
  docs/LEVEL_SELECT_REVISION_PLAN.md
  docs/features/LEVEL_SELECT_SCREEN_IMPLEMENTATION.md
Due: prettier --write

chore: Update architecture snapshot timestamp
  architecture/snapshot.json
Due: prettier --write

chore: Final architecture snapshot update
  architecture/snapshot.json
Due: prettier --write

fix: port valuable changes from dev-backup to fresh dev branch
  .envrc
  .mise.toml
  src/scenes/BirthdayMinigame.js
Due: eslint --fix, prettier --write

chore: modernize agentic tooling to SOTA 4-file pattern
  .claude/CLAUDE.md
  .claude/agents/architecture-guardian.md
  .claude/agents/architecture-guardian/AGENT.md
  .claude/agents/game-design-innovator.md
  .claude/agents/game-design-innovator/AGENT.md
  .claude/agents/game-physics-expert.md
  .claude/agents/game-physics-expert/AGENT.md
  .claude/commands/debug-physics-issue.md
  .claude/commands/manage-assets.md
  .claude/rules/constants-files.md
  .claude/rules/core-files.md
  .claude/rules/module-files.md
  .claude/rules/scene-files.md
  .claude/rules/test-files.md
  .claude/settings.json
  .claude/skills/add-module/SKILL.md
  .claude/skills/add-scene/SKILL.md
  .claude/skills/arch-health/SKILL.md
  .claude/skills/debug-physics-issue/SKILL.md
  .claude/skills/implement-game-feature/SKILL.md
  .claude/skills/manage-assets/SKILL.md
  .claude/skills/playtest-check/SKILL.md
  AGENTS.md
  CLAUDE.md
  package.json
Due: prettier --write

fix: format architecture/snapshot.json for CI
  architecture/snapshot.json
Due: prettier --write

chore: update all dependencies to latest versions
  bun.lock
  package.json
  src/modules/level/LevelCardComponent.js
  src/modules/player/MovementController.js
  src/scenes/BirthdayMinigame.js
  src/scenes/GameOver.js
Due: eslint --fix, prettier --write

ci: update bun-version from 1.3.1 to latest in all workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

docs: establish independent project status
  AGENTS.md
  CLAUDE.md
  README.md
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/next-implementations.md
Due: prettier --write

chore: refresh compatible dependencies and CI pins
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .markdownlint-cli2.jsonc
  .mise.toml
  .prettierignore
  AGENTS.md
  README.md
  architecture/a-spec.json
  architecture/snapshot.json
  bun.lock
  docs/PROJECT_STATUS.md
  package.json
Due: prettier --write

chore: establish legacy boundary and clear security audit (#12)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .markdownlint-cli2.jsonc
  .mise.toml
  .prettierignore
  AGENTS.md
  CLAUDE.md
  README.md
  architecture/a-spec.json
  architecture/snapshot.json
  bun.lock
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/next-implementations.md
  package.json
Due: prettier --write

docs: add meta-inventory project manifest
  docs/PROJECT_STATUS.md
  project.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs}
  prettier --write: (any of: *.{js,mjs}) or (any of: *.{json,md,html,css})
